<h3 id="filtrhide">Filters</h3>
<form method="POST" id="filterForm">
	<div class="form-flex">
		<fieldset>
			<legend>Dish Category</legend>
			<input
				type="checkbox"
				id="dish_category_option1"
				name="dish_category"
				value="1"
			/>
			<label for="dish_category_option1">1</label><br />
			<input
				type="checkbox"
				id="dish_category_option2"
				name="dish_category"
				value="2"
			/>
			<label for="dish_category_option2">2</label><br />
			<input
				type="checkbox"
				id="dish_category_option3"
				name="dish_category"
				value="3"
			/>
			<label for="dish_category_option3">3</label><br />
		</fieldset>
		<fieldset>
			<legend>Recipe Category</legend>
			<input
				type="checkbox"
				id="recipe_category_option1"
				name="recipe_category"
				value="1"
			/>
			<label for="recipe_category_option1">1</label><br />
			<input
				type="checkbox"
				id="recipe_category_option2"
				name="recipe_category"
				value="2"
			/>
			<label for="recipe_category_option2">2</label><br />
			<input
				type="checkbox"
				id="recipe_category_option3"
				name="recipe_category"
				value="3"
			/>
			<label for="recipe_category_option3">3</label><br />
		</fieldset>
		<fieldset>
			<legend>Difficulty</legend>
			<input
				type="checkbox"
				id="difficulty_option1"
				name="difficulty"
				value="1"
			/>
			<label for="difficulty_option1">1</label><br />
			<input
				type="checkbox"
				id="difficulty_option2"
				name="difficulty"
				value="2"
			/>
			<label for="difficulty_option2">2</label><br />
			<input
				type="checkbox"
				id="difficulty_option3"
				name="difficulty"
				value="3"
			/>
			<label for="difficulty_option3">3</label><br />
		</fieldset>
		<fieldset>
			<legend>Price</legend>
			<input type="checkbox" id="price_option1" name="price" value="1" />
			<label for="price_option1">1</label><br />
			<input type="checkbox" id="price_option2" name="price" value="2" />
			<label for="price_option2">2</label><br />
			<input type="checkbox" id="price_option3" name="price" value="3" />
			<label for="price_option3">3</label><br />
		</fieldset>
		<fieldset>
			<legend>Ingredient</legend>
			<input
				type="checkbox"
				id="ingredient_option1"
				name="ingredient"
				value="1"
			/>
			<label for="ingredient_option1">1</label><br />
			<input
				type="checkbox"
				id="ingredient_option2"
				name="ingredient"
				value="2"
			/>
			<label for="ingredient_option2">2</label><br />
			<input
				type="checkbox"
				id="ingredient_option3"
				name="ingredient"
				value="3"
			/>
			<label for="ingredient_option3">3</label><br />
		</fieldset>
	</div>
	<button type="submit">Filter</button>
</form>
